:root {
    --primary-color: rgba(128,0,128,1);
    --secondary-color: rgb(0,0,255);
    --primary-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
}
* {
    margin: 0;
}

#header-main {
    width: 100%;
    height: 80px;
    position: sticky;
    display: flex;
    background: linear-gradient(135deg, rgba(128,0,200, 1), blue);
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}

.header-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100px;
    border-bottom: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    font-family: var(--secondary-color);
}